<form (ngSubmit)="save(form.value)" [formGroup]="form">
    <input type="hidden" [formControl]="form.controls['id']"/>
    <input type="hidden" [formControl]="form.controls['duration']"/>
    <input type="hidden" [formControl]="form.controls['createDate']"/>
    <input type="hidden" [formControl]="form.controls['authors']"/>
    <div class="container form-group">
        <div class="row justify-content-md-center" *ngIf="hasError | async">
            <div class="col-6 alert alert-danger" role="alert">
                {{errorMessage | async }}
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-2">
                <label for="title" class="col-form-label">Title </label>
            </div>
            <div class="col-4">
                <input type="text" id="title" class="form-control" placeholder="Title" [formControl]="form.controls['title']" autofocus/>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-2">
                <label for="description" class="col-form-label">Description </label>
            </div>
            <div class="col-4">
                <textarea id="description" class="form-control" placeholder="Description" [formControl]="form.controls['description']">
                </textarea>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-2">
                <label for="createDate" class="col-form-label">Create Date </label>
            </div>
            <div class="col-4">
                <input type="date" id="createDate" class="form-control" [formControl]="form.controls['createDate']"/>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-2">
                <label for="duration" class="col-form-label">Duration </label>
            </div>
            <div class="col-2">
                <input type="number" id="duration" class="form-control" [formControl]="form.controls['duration']"/>
            </div>
            <div class="col-2">
                {{ form.controls['duration'].value | duration}}
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-6">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-secondary" (click)="cancel($event);">Cancel</button>
            </div>
        </div>
    </div>
</form>
<template ngbModalContainer></template>
